<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Product</title>
</head>
<body>
    <h2>Buy Product</h2>
    <form action="#" method="post">
        <div>
            <p>{{post.user_email}}</p>
            <img src="../static/uploads/{{post.unique_name}}" alt="" height="100" width="100">
            <h3>{{post.post_name}}</h3>
            <p>{{post.post_price}}</p>
            <p>{{post.post_description}}</p>
            
        </div>
        <button>Buy Now</button>
    </form>
</body>
</html>
